<div class="hex_color_picker">
    <div class="hex_color_picker__colors_container">
        <div class="hex_color_picker__colors_row">
            <div class="hex_color_picker__color" style="background-color: #EBCFD1;" data-color="EBCFD1"></div>
            <div class="hex_color_picker__color" style="background-color: #F5E3CE;" data-color="F5E3CE"></div>
            <div class="hex_color_picker__color" style="background-color: #FDF9D8;" data-color="FDF9D8"></div>
            <div class="hex_color_picker__color" style="background-color: #E2E8CD;" data-color="E2E8CD"></div>
            <div class="hex_color_picker__color" style="background-color: #D3F1FA;" data-color="D3F1FA"></div>
            <div class="hex_color_picker__color" style="background-color: #D0DFF9;" data-color="D0DFF9"></div>
            <div class="hex_color_picker__color" style="background-color: #BEBAF7;" data-color="BEBAF7"></div>
            <div class="hex_color_picker__color" style="background-color: #D1BBF7;" data-color="D1BBF7"></div>
            <div class="hex_color_picker__color" style="background-color: #E2C8DB;" data-color="E2C8DB"></div>
        </div>
        <div class="hex_color_picker__colors_row">
            <div class="hex_color_picker__color" style="background-color: #DBABAF;" data-color="DBABAF"></div>
            <div class="hex_color_picker__color" style="background-color: #ECCDA7;" data-color="ECCDA7"></div>
            <div class="hex_color_picker__color" style="background-color: #F7ECB0;" data-color="F7ECB0"></div>
            <div class="hex_color_picker__color" style="background-color: #CFDAAC;" data-color="CFDAAC"></div>
            <div class="hex_color_picker__color" style="background-color: #AEE5F5;" data-color="AEE5F5"></div>
            <div class="hex_color_picker__color" style="background-color: #A7C1F2;" data-color="A7C1F2"></div>
            <div class="hex_color_picker__color" style="background-color: #968FF1;" data-color="968FF1"></div>
            <div class="hex_color_picker__color" style="background-color: #B491F1;" data-color="B491F1"></div>
            <div class="hex_color_picker__color" style="background-color: #D2A6C6;" data-color="D2A6C6"></div>
        </div>
        <div class="hex_color_picker__colors_row">
            <div class="hex_color_picker__color" style="background-color: #CF878C;" data-color="CF878C"></div>
            <div class="hex_color_picker__color" style="background-color: #E4B680;" data-color="E4B680"></div>
            <div class="hex_color_picker__color" style="background-color: #F2E88A;" data-color="F2E88A"></div>
            <div class="hex_color_picker__color" style="background-color: #BECE8B;" data-color="BECE8B"></div>
            <div class="hex_color_picker__color" style="background-color: #8BDAF1;" data-color="8BDAF1"></div>
            <div class="hex_color_picker__color" style="background-color: #7EA4EE;" data-color="7EA4EE"></div>
            <div class="hex_color_picker__color" style="background-color: #6C65ED;" data-color="6C65ED"></div>
            <div class="hex_color_picker__color" style="background-color: #9867ED;" data-color="9867ED"></div>
            <div class="hex_color_picker__color" style="background-color: #C584B3;" data-color="C584B3"></div>
        </div>
        <div class="hex_color_picker__colors_row">
            <div class="hex_color_picker__color" style="background-color: #C6636A;" data-color="C6636A"></div>
            <div class="hex_color_picker__color" style="background-color: #DFA25C;" data-color="DFA25C"></div>
            <div class="hex_color_picker__color" style="background-color: #EBD669;" data-color="EBD669"></div>
            <div class="hex_color_picker__color" style="background-color: #AFC56D;" data-color="AFC56D"></div>
            <div class="hex_color_picker__color" style="background-color: #70CEED;" data-color="70CEED"></div>
            <div class="hex_color_picker__color" style="background-color: #5889E8;" data-color="5889E8"></div>
            <div class="hex_color_picker__color" style="background-color: #4742E6;" data-color="4742E6"></div>
            <div class="hex_color_picker__color" style="background-color: #7E45E7;" data-color="7E45E7"></div>
            <div class="hex_color_picker__color" style="background-color: #BA62A7;" data-color="BA62A7"></div>
        </div>
        <div class="hex_color_picker__colors_row">
            <div class="hex_color_picker__color" style="background-color: #C04348;" data-color="C04348"></div>
            <div class="hex_color_picker__color" style="background-color: #DB8E3D;" data-color="DB8E3D"></div>
            <div class="hex_color_picker__color" style="background-color: #E5C44F;" data-color="E5C44F"></div>
            <div class="hex_color_picker__color" style="background-color: #A1BE51;" data-color="A1BE51"></div>
            <div class="hex_color_picker__color" style="background-color: #5BC3E6;" data-color="5BC3E6"></div>
            <div class="hex_color_picker__color" style="background-color: #3470E2;" data-color="3470E2"></div>
            <div class="hex_color_picker__color" style="background-color: #1E25E2;" data-color="1E25E2"></div>
            <div class="hex_color_picker__color" style="background-color: #662BE1;" data-color="662BE1"></div>
            <div class="hex_color_picker__color" style="background-color: #B2428C;" data-color="B2428C"></div>
        </div>
        <div class="hex_color_picker__colors_row">
            <div class="hex_color_picker__color" style="background-color: #B32D2F;" data-color="B32D2F"></div>
            <div class="hex_color_picker__color" style="background-color: #D17C2D;" data-color="D17C2D"></div>
            <div class="hex_color_picker__color" style="background-color: #E0BA40;" data-color="E0BA40"></div>
            <div class="hex_color_picker__color" style="background-color: #8DAB3F;" data-color="8DAB3F"></div>
            <div class="hex_color_picker__color" style="background-color: #4FB6DE;" data-color="4FB6DE"></div>
            <div class="hex_color_picker__color" style="background-color: #1757DC;" data-color="1757DC"></div>
            <div class="hex_color_picker__color" style="background-color: #081ACA;" data-color="081ACA"></div>
            <div class="hex_color_picker__color" style="background-color: #531FC9;" data-color="531FC9"></div>
            <div class="hex_color_picker__color" style="background-color: #9D317F;" data-color="9D317F"></div>
        </div>
        <div class="hex_color_picker__colors_row">
            <div class="hex_color_picker__color" style="background-color: #952223;" data-color="952223"></div>
            <div class="hex_color_picker__color" style="background-color: #AB6423;" data-color="AB6423"></div>
            <div class="hex_color_picker__color" style="background-color: #BEA835;" data-color="BEA835"></div>
            <div class="hex_color_picker__color" style="background-color: #748D31;" data-color="748D31"></div>
            <div class="hex_color_picker__color" style="background-color: #3F95B6;" data-color="3F95B6"></div>
            <div class="hex_color_picker__color" style="background-color: #1347B5;" data-color="1347B5"></div>
            <div class="hex_color_picker__color" style="background-color: #0613A1;" data-color="0613A1"></div>
            <div class="hex_color_picker__color" style="background-color: #4217A2;" data-color="4217A2"></div>
            <div class="hex_color_picker__color" style="background-color: #82256E;" data-color="82256E"></div>
        </div>
        <div class="hex_color_picker__colors_row">
            <div class="hex_color_picker__color" style="background-color: #781919;" data-color="781919"></div>
            <div class="hex_color_picker__color" style="background-color: #864F1A;" data-color="864F1A"></div>
            <div class="hex_color_picker__color" style="background-color: #988629;" data-color="988629"></div>
            <div class="hex_color_picker__color" style="background-color: #5B6F24;" data-color="5B6F24"></div>
            <div class="hex_color_picker__color" style="background-color: #307690;" data-color="307690"></div>
            <div class="hex_color_picker__color" style="background-color: #0D388E;" data-color="0D388E"></div>
            <div class="hex_color_picker__color" style="background-color: #070C7C;" data-color="070C7C"></div>
            <div class="hex_color_picker__color" style="background-color: #340F7D;" data-color="340F7D"></div>
            <div class="hex_color_picker__color" style="background-color: #651A50;" data-color="651A50"></div>
        </div>
        <div class="hex_color_picker__colors_row">
            <div class="hex_color_picker__color" style="background-color: #590F10;" data-color="590F10"></div>
            <div class="hex_color_picker__color" style="background-color: #633A10;" data-color="633A10"></div>
            <div class="hex_color_picker__color" style="background-color: #73651C;" data-color="73651C"></div>
            <div class="hex_color_picker__color" style="background-color: #425219;" data-color="425219"></div>
            <div class="hex_color_picker__color" style="background-color: #22566A;" data-color="22566A"></div>
            <div class="hex_color_picker__color" style="background-color: #092A6A;" data-color="092A6A"></div>
            <div class="hex_color_picker__color" style="background-color: #060659;" data-color="060659"></div>
            <div class="hex_color_picker__color" style="background-color: #250859;" data-color="250859"></div>
            <div class="hex_color_picker__color" style="background-color: #481038;" data-color="481038"></div>
        </div>
    </div>
</div>