<div class="app_container">
  <%= render 'shared/header' %>
  <style type="text/css" media="screen">
    .cs {
      display: inline-block;
      width: 31px;
      height: 16px;
    }
  </style>
  <section class="section">
    <%= render 'favorites' %>
  </section>
</div><!-- end container -->

<script type="text/javascript" charset="utf-8" async defer>
  $('.selector_badge').click(function() {
    favorite_id = $(this).data('favorite-id')
    $('.favorite_id').attr('data-id', favorite_id);
  });
 
  var getid = $('.color_selector:first').parent().data('favorite-id');
  $('.favorite_id').attr('data-id', getid);

  <% @favorites_with_index.in_groups_of(50).each_with_index do |favorites_box, idx1| %>
    <% favorites_box.in_groups_of(10).each_with_index do |favorites, idx2| %>
      var sortableItem = document.getElementById('draggable-<%= "#{idx1}-#{idx2}" %>')
      if (window.innerWidth < 768) {
        initSortable(sortableItem, true);
      } else {
        initSortable(sortableItem, false);
      }
    <% end %>
  <% end %>
</script>
