<div class="app_container">
  <div class="header">
    <div class="header__content">
      <%= link_to(t("favorites.back_to_favorite"), favorites_path, class: 'header__nav-link') %>
    </div>
  </div>
  <style type="text/css" media="screen">
    .cs {
      display: inline-block;
      width: 31px;
      height: 16px;
    }
  </style>
  <section class="section">
    <%= render 'favorites/favorites' %>
  </section>
</div><!-- end container -->
