<!DOCTYPE html>
<html>
<head>
  <style type="text/css" media="screen">
    body{
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    .keys__overlay{
      margin: 0 auto 0;
      min-height: 72vh;
      position: relative;
      width: 70%;

    }

    @media(max-width: 500px){
      .keys__overlay{
        width: 80%;
      }
    }

    .keys_content{
      margin: 0 auto 0;
      position: relative;
      width: 50%;
    }

    .keys__title{
      font-size: 34px;
      text-align: center;
    }
    .keys__text{
      color: #4a4848;
      line-height: 23px;
    } 

    .keys__image{
      width: 100%;
    }

    .h3_how{
      font-size: 25px;
    }

    .blue-link{
      color: #00bbff;
      text-decoration: none;
    }

  </style>
</head>
<body>
  <div class="keys__overlay">
    <div class="keys__container">
      <div class="keys__title">Hey thanks for upgrading!</div>
       <div class="keys__content">
         <p class="keys__text">
            Is there anything I can do to improve the site? I’m always looking for ways to make it better. 
         </p>
         <p class="keys__text">
            Thanks again for your support :)
         </p>
         <p class="keys__text">
            Best, Mason
         </p>
        <p>
          If you have any questions, email us here:
          <%= link_to I18n.t('website_config.contact_email2'), "mailto:#{I18n.t('website_config.contact_email2')}",
              class: 'blue-link' %>
        </p>
      </div> 
    </div>
  </div>
</body>
</html>