<div class="mobile-menu hidden">
  <nav class="mob-nav">
    <%= link_to(t('create_page.color_wheel'), app_path, class: 'mob-link') %>
    <%= link_to(t('create_page.hex_match'), hex_match_path, class: 'mob-link') %>
    <%= link_to(t('home_page.header.favorites'), favorites_path, class: 'mob-link') %>
  </nav>
</div>
