<section class="promotional">
  <%= image_tag('cta.png', class: 'promotional__logo') %>
  <span class="promotional__title">Amazing design assets from indie designers</span>
  <a href="https://youworkforthem.com?aff=990" class="btn btn--blue" target="_blank">visit ywft</a>
</section>