
@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-url('glyphicons-halflings-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.intro_header, .letters h1, .content_header_title h3, .letters, #pages_main h3 {
  font-family: 'Oswald';
  font-weight: 100;
}

#pages_main h3 {
  text-align: center;
}

.tk-proxima-nova, .text-tip, .plan__label .price {
  font-family:"IBM Plex Sans",sans-serif !important;
}
 
#subheader,#footer,#form_email,.altoption,.artist_link,.artist_link a,.base,.beta,.bottom-square,.canvas_wrap,.color_shapes,.colors,.content_body columns,.content_body columns p,.content_body_desc,.dxn_logo_text,.footer p,.form-group label,.form-title,.form-title .title,.modal body p,.pdfcopy,.popup_content .body,.radio radio-primary,.radioColor,.section.content .content_body.columns,.section.content .content_body.columns p, .strong, .page-text, .page-text a, .page-text strong, .text-box,.title-detail,.yes,a.concept_link,a.concept_link:hover,content_header_sub,em,form-title .title-detail,i { 
 font-family:"Lora",serif !important;
}

#banner h2,.container .navbar .nav .nav-item .nav-link-promo,.field_label,.form-action input,.form-group input,.intro_action,.learnmore,.mailing_list_popup .title,.nav-link,.popup_content .title,.tk-brandon-grotesque,button launch_button,container .navbar .nav .nav-item .nav-link, nav-link a, .blue-link, .app_container p a, .app_container p, .app_container p#designer, #sq1 p, .sq2, .intro_content h2, #pages_main h4, .title, .form-title, .bluecheck {
  font-family:"Lora", serif !important;
}

.cd-headline letters rotate-2,.cd-words-wrapper,.page_title,.page_title2, b {
  font-family:"Lora" !important;
}

.wrapper .cd-words-wrapper, .page_title,.btn-go, .page_title2, b {
  font-family: 'IBM Plex Sans';
  text-align: center;
}

h1, h2, h3, .title-free {
  font-family: 'IBM Plex Sans';
}






 