<div class="page-content">
  <%= render 'shared/header' %>


 <div class="premium__title-container">
    <h1 class="page-title">Adobe Color</h1>
     <h2 class="page-title">(A breakup letter)</h2>
  </div>

  <div class="page-section__text course">
    <div class="page-container">
     

<p class="page-text">
When Adobe Color first came around 2009 I wanted to like it. I really did. But every time I used it, I came away empty handed with no colors for my project. 
For one it has way too many color options. I don’t want every color in the universe which is what it presents you with:
 </p>
<p class="page-text">
<strong>You’ll never be able to create stuff like that!</strong>
</p>

<p class="page-text">
It’s exhausting. And what do you have to show for all your effort? Nothing. You’d gladly start again from scratch if only you knew where <em>that</em> was.
</p>


<p class="page-text">- -</p>
<p class="page-text">What if you had a step by step framework that you could follow so you always knew where you were in the design process?</p>







<p class="page-text">
Well I created such a framework and I call it <em>'Design by Numbers'</em>. 

Sign up below and for the next 10 days I'll send you emails about how I used the Design by Numbers framework to design this: 
</p>


     
      <%= image_tag 'francescas_thumb.jpg', :width => '100%' %>

     <p class="page-text">If you’ve been looking for a better way to learn web design, this is it.</p>

<!-- &SIGNUP shows which page they signed up on -->
<form action="//designbynumbers.us10.list-manage.com/subscribe/post?u=ff9d7f1c1285796c09b1565e5&amp;id=c952984d69&#038;SIGNUP=color-preview.jp Small Homepage Popup" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

<!-- Assigns new users to the "30 Day Web Design Class" group -->
<input id="group_32" class="av-checkbox" type="checkbox" value="1" name="group[8089][32]" data-dojo-type="dijit/form/CheckBox" checked style="display:none">
   <p class="page-text sign">Sign up for the free 10 day email course:</p>
<input style="text-align: left;" type="email" value="" name="EMAIL" class="form-control form-course" id="mce-EMAIL" placeholder="enter email address" required><input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-course"><!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ff9d7f1c1285796c09b1565e5_c952984d69" tabindex="-1" value=""></div>

</form>








</div>
</div>
</div>