<% content_for :pagetitle do %>Contact Us<% end %>
<% content_for :description do %>Contact the Color Supply team.<% end %>

<div class="page-content">
  <%= render 'shared/header' %>

  <div class="premium__title-container">
    <h2 class="page-title"><%= t('contact.contact') %></h2>
  </div>

  <div class="page-section__text page-height" style="max-width: 340px;">
    <div class="page-container">
      <p class="page-text" style="font-size: 18px;">
        <%= t('contact.contact_color_supply_team') %>
        <br>
      <a class="blue-link" href="mailto: colorsupplyyy@gmail.com" style="line-height: 50px;">colorsupplyyy@gmail.com</a>
      </p>
    </div>
  </div>    
</div>