<%= render 'shared/header' %>
<section class="section">
	<div class="container">
		<div class="freemiun-content">
			<div class="page-title__container">
	       <h2 class="page-title">Free Account Limits</h2>
	    </div>
	    <div class="page-section__text">
	    	<div class="page-container">
	    		<div class="page-text">
				     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ex mi, tristique eu consectetur quis, viverra nec ligula. Fusce imperdiet ultrices velit et viverra. Ut eu ipsum ut tortor consequat cursus. Nulla facilisi. Praesent ac commodo ex. Suspendisse laoreet et nibh eget ultrices. Phasellus non justo dictum.</p>
	    		</div>
					<!--
	    		<div class="upgrade">
						<%#= link_to 'upgrade to premium', pricing_path, class: 'btn btn--blue btn-uppremium' %>
					</div>
					-->
	    	</div>
	    </div>
	  </div> 
	</div>
</section>
