<% content_for :pagetitle do %>Legwork<% end %>
<% content_for :description do %>Concept examples.<% end %>

<center>
  <%= image_tag 'legwork_screenshot.jpg' %>
</center>

<span class="concept">
The concept is: Whimsy
</span>
