<% content_for :pagetitle do %>Preserve<% end %>
<% content_for :description do %>Concept examples<% end %>

<center>
  <%= image_tag 'preserve_all_screenshot.jpg' %>
</center>

<span class="concept">
The concept is: Handmade
</span>