<div class="final-step__page">
  <%= render 'shared/header' %>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$(window).load(function() { 
			document.cookie = "promotion=true";
			setTimeout(function(){
		    window.location = '/upgrade';
				},100);
			})
	});
</script>