<div class="modal fade modal-colors" id="color-modal" role="dialog" aria-labelledby="myModalLabel">
  <div href="#" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </div>
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-centered">
      <div class="modal-body modal-body-custom">
        <div class="prev-next-button">
          <button class="prev-button"><</button>
          <button class="next-button">></button>
        </div>
        <div class="one-time">
          <div>
           <div class="content-modal-slider">
              <div class="colors-modal-wheel-container">
                <div class="colors-modal-wheel">
                  <svg id="svg_layout" version="1.1" xmlns:svg="http://www.w3.org/2000/svg"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px" y="0px" xml:space="preserve">
                      <g id="colorwheel">
                      </g>
                    </svg>
                </div>
                <h3 class="colors-modal-header">Painters</h3>
              </div>
              <div class="colors-modal-text-container" style="display: none">
                <p class="colors-modal-text">Selected color palettes from the worlds greatest impressionist painters. We’ve handpicked their best painting and sampled colors from them.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ANIMATED SVG MODAL START -->
<div class="modal fade modal-centered" id="modal-how" role="dialog"  aria-labelledby="myModalLabel">
  <div href="#" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></div>
  <div class="modal-dialog modal-dialog-centered modal-how-custom" role="document">
    <div class="modal-content">
      <div class="modal-body">
      <h1 class="page-title how-title">How it works</h1>
      <p class="page-text text-modal">
        In the 'My Colors' section, find the color set you want to use, then drag it to selected colors. The color wheel will now appear in the 'Pick' section.
      </p>
      <div id="mycolormodal" class="wrap_svg"></div>
      </div>
    </div>
  </div>
</div>
<!-- ANIMATED SVG MODAL END -->