@import '../tools/colors';

.btn {
  font-size: 14px;
  text-transform: uppercase;
  padding: 12px 28px 12px 28px;
  border: none;
  color: $darkGray;
  transition: 0.1s; 
  outline: 0;
  &--blue {
    height: 45px;
    color: #fff;
    letter-spacing:1px;
    background: $blue;
    border: none;
    
    &:hover:not(:disabled) {
      box-shadow: 0 0 2px $blue;
    }

    &:disabled {
        background-color: #E5E5E5;
      }
  }

  &--gray {
    background: #f8f8f8;

    &:hover {
      box-shadow: 0 0 4px #d8d8d8;
    }
  }

  &--dark-gray {
    background: #E5E5E5;

    &:hover:not(:disabled) {
      box-shadow: 0 0 4px #d8d8d8;
    }

    &:disabled {
      color: #FFF;
    }
  }

  &--white {
    background: #FFFFFF;
    font-size: 16px;
    color: $darkGray;
    letter-spacing: 1.2px;
    padding: 12px 0px 11px 7px;

    &:hover {
      box-shadow: 0 0 4px #d8d8d8;
    }
  }

  &--large {
    min-width: 158px;
  }

  &--small {
    width: 118px;
  }

  &--block {
    width: 100%;
    display: block;
    text-align: center;
  }
}

a.btn:hover {
  text-decoration: none;
}

a.btn.btn--blue:hover {
  color: #fff;
}
  @media screen and (max-width:889px){
    .btn-uppremium{
      padding: 12px 154px 11px;
      max-width:100%;
      width:100%;
      word-wrap:break-word;
    }
  }
  @media screen and (max-width:576px){
    .btn-uppremium{
      display:block;
      max-width:100%;
      width:100%;
      padding:12px 28px 12px 28px;
      text-align:center;
    }
  }

.btn-login{
  width:100%;
}

.btn-license{
  width:100%;
  margin-top: 10px;
}

.btn-next{
  display: block;
  margin: 70px auto 0;
}

.btn-wait {
  background: #e0e0e0;
  cursor: wait;
}

.hex_submit {
  width: 66px;
  height: 45px;
  padding: 0;
  background-color: #00BBFF;
  color: #FFFFFF;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: none;

  &:disabled {
    background-color: #E5E5E5;
  }
}