.content-pay{
  height: auto;
  @media(max-width: 800px){
    height: auto;
  }

  .demo{
    margin-top: 20px;
  }

  .free{
    margin-bottom: 5px;
  }

  .free-button{
    font-size: 16px;
    a{
      border: 1px solid #333;
      color: #000;
      font-weight: 500;
      padding: 10px 25px;
      pointer-events:none;
    }
  }
}

.p-sub{
  margin-bottom: 0px !important;
  margin-top: 18px;
  font-size: 18px !important;
  line-height: 1.5 !important;

  @media(max-width: 500px){
    line-height: 25px;
  }

  &.licensed{
    letter-spacing: 1px;
    line-height: 1.4;
  }
}

.p-sub--message {
  font-family: "Lora";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #434343;
  margin-top: 18px;
}

.plan {
  &__form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 920px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  &__container {
    width: 310px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 50px;
    min-height: 485px;
    padding: 40px 25px;
    border: 1px solid #434343;
    position: relative;

    @media screen and (min-width: 920px) {
      margin-bottom: 0;
    }

    &--header {
      border: 0;
      min-height: 0;
      padding: 0;

      @media(max-width: 500px){
        margin: 0;
      }
    }
  }

  &__best-value {
    width: 100%;
    padding: 15px 0;
    display: block;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.02em;
    position: relative;

    &__text {
      z-index: 5;
      background: #ffffff;
      color: #00BBFF;
      display: block;
      width: 50%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      top: 50%;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #00BBFF;
      z-index: 1;
    }
  }

  &__label {
    display: flex;
    flex-direction: column;
    text-align: left;
    min-height: 255px;
    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &:last-child {
      margin-bottom: 35px;
    }

    .label {
      &__title {
        font-family: "IBM Plex Sans";
        font-style: normal;
        font-weight: bold;
        line-height: 136.5%;
        letter-spacing: 0.5px;
        margin-bottom: 6px;

        @media screen and (min-width: 736px) {
          font-size: 25px;
          color: #434343;
        }
      }

      &__description {
        font-family: Lora;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 130%;
        letter-spacing: 0.01em;

        strong {
          font-size: 18px;
          font-weight: bold;
          font-family: inherit;
          letter-spacing: 0.9px;
        }
      }

      &__payment {
        font-family: Lora;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0.02em;
        align-self: flex-end;
        color: #434343;
      }
    }
    
    hr{
      margin-left: 0;
      width: 90%;
    }
  }

  &__pricing{
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.02em;
    margin: 6px 0;
    display: flex;
    align-items: center;
    width: 120%;

    span {
      margin-right: 3px;
    }

    .label__description {
      margin-left: 8px;
    }
  }

  &__get {
    margin: 0;
    width: 110%;

    li {
      display: block;
      background-image: image-url('check_circle.svg');
      background-size: 20px;
      background-position: left center;
      background-repeat: no-repeat;
      padding-left: 26px;
      font-family: "Lora";
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 188%;
      letter-spacing: 0.02em;

      &.basic {
        background-image: image-url('small_basic.png');
        background-size: 20px;
      }

      &.fresh {
        background-image: image-url('small_fresh.png');
        background-size: 20px;
      }

      &.manga {
        background-image: image-url('small_manga.png');
        background-size: 20px;
      }

      &.nature {
        background-image: image-url('small_nature.png');
        background-size: 20px;
      }

      &.painters {
        background-image: image-url('small_painters.png');
        background-size: 20px;
      }

      &.rich {
        background-image: image-url('small_rich.png');
        background-size: 20px;
      }

    }
  }

  &__dollar_sign{
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.02em;
    line-height: 27px;
    align-self: flex-start;
  }
}

.stripe-button-container {
  position: absolute;
  bottom: 40px;
  width: calc(100% - 50px);
}

.plans {
  &__container {
    min-height: 62vh;
  }
}


.plan_logo {
  margin: 100px auto 150px;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  padding: 100px 0;
  text-align: center;
  width: 100%;

  &__title {
    font-family: "Lora", serif !important;
    font-size: 14px;
    font-weight: normal;
    line-height: 147.2%;
    text-align: center;
    letter-spacing: 0.05em;
    color: #434343;
    margin: 0
  }

  @media(max-width: 500px){
    img{
      width: 100%;
    }
    p{
      margin-bottom: 35px;
    }
  }
}

.tweet {
  &__container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;

    .twitter-tweet { 
      margin-top: 0px !important;
      margin-bottom: 25px !important;
      
      &:last-of-type {
        margin-bottom: 0px !important;
      }
    }

    @media(max-width: 500px){
      flex-direction: column;
    }
  }

  &__column {
    width: 32%;

    @media(max-width: 500px){
      width: 100%;
    }
  }
}