<% content_for :pagetitle do %>Payment Canceled!<% end %>
<% content_for :description do %>Upgrade to a premium account.<% end %>

<div class="page-content">
  <%= render 'shared/header' %>

  <div class="app_container app_container--message">
    <div class="page-title__container">
      <h2 class="page-title text-primary">Canceled
        <p class="p-sub--message">Payment canceled.<br/>Please try again.</p>
        <a href="#" class="btn btn btn--blue btn--small btn-copy">Try Again</a>
      </h2>
    </div>
  </div>
</div>