<div class="keys__overlay">
  <div class="keys__container">
    <div class="keys__title">Thank you for Upgrading!</div>
     <div class="keys__content">
       <p>
          The next step is to log in to your account  at <a class="blue-link" href="<%= I18n.t('website_config.website_address') %>/users/sign_in" target = "blank">color-preview.jp</a> and complete the step below. Then visit the <strong>'Library'</strong> section where you can drag & drop your new colors to load them into the color wheel.
       </p>


       <h3>How to activate:</h3>
      <div class="keys__description">
        <%= image_tag 'directions_all_2X.gif', class: 'color_picker_arrow right keys__image' %>
         <!--  <%# if true %>
            keys
          <%# else %>
            key
          <%# end %>
        below: -->
      </div>

      <!-- <ul class="key__list">
        <%# @licenses.each_with_index do |license, i| %>
          <li class="key__item">
            <span class="key__index-number"><%#= ( i + 1).to_s %>:</span>
            <span class="key__value"><%#= license.key %></span>
          </li>
        <%# end %>
      </ul> -->

   
        <p>
        If you have any questions, email us here:
        <%= link_to I18n.t('website_config.contact_email2'), "mailto:#{I18n.t('website_config.contact_email1')}",
            class: 'blue-link' %>
      </p>
     
      <!-- <span class="keys__team">The <%#= I18n.t('website_config.app_name') %> Team</span> -->
    </div> 
  </div>
</div>