<div class="message-box">
  <div class="message-box__header">
    <%= image_tag('info_icon_dark.svg', class:'message-box__icon')%>
    <h3 class="message-box__title"><%= t('account_activation') %></h3>
  </div>
  <div class="message-box__body">
  <p class="message-box__desc">
    <%= t('to_active_your_account') %>
  </p>
  </div>
</div>