<% content_for :pagetitle do %>Account<% end %>
<% content_for :description do %>Your account information.<% end %>

<div class="page-content">
  <% if !current_user.subscription.present? %> 
    <%= render 'account/onetime_account' %>
  <% else %>
    <%= render 'account/subscription_account' %>
  <% end %>
</div>