<% content_for :pagetitle do %>Payment Failed<% end %>
<% content_for :description do %>Upgrade to a premium account.<% end %>

<div class="page-content">
  <%= render 'shared/header' %>

  <div class="app_container app_container--message">
    <div class="page-title__container">
      <h2 class="page-title">Payment Failed 
        <p class="p-sub--message">Sorry, your payment was declined. Please make sure<br/>to update your billing information and try again.</p>
        <%= link_to 'View Account', account_index_path, class: "btn btn btn--blue btn--small btn-copy" %>
      </h2>
    </div>
  </div>
</div>